@font-face {
  font-family: 'Goyang';
  src: url('fonts/Goyang.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  --color: #000000;
  --background-color: #ffffff;
}

.dark-mode {
  --color: #ffffff;
  --background-color: #000000;
}

html {
  box-sizing: border-box;
}

body * {
  font-family: Goyang;
}

* {
  color: var(--color);
  background-color: var(--background-color);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

#App {
  margin: 1.5em auto;
  max-width: 1200px;
  column-gap: 1.5em;
}

.SearchResult {
  margin-top: 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: repeat(4, minmax(250px, 1fr));
  grid-gap: 10px;
  padding: 0;
}

.SearchResult img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.SearchResult .item {
  display: inline-block;
  margin: 0 0 1em;
  width: 100%;
}

.SearchInput {
  width: 100%;
  font-size: 40px;
  padding: 10px 15px;
}

.ImageInfo {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.close {
  border: none;
  background-color: transparent;
  width: 48px;
  height: 48px;
  font-size: larger;
}

.ImageInfo .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ImageInfo .title,
.ImageInfo .description {
  padding: 5px;
}

.ImageInfo .content-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #eee;
  border-radius: 5px;
}

.ImageInfo .content-wrapper img {
  width: 100%;
}

.ToggleButton {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-bottom: 16px;
}

.ToggleButton input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #313163;
}

input:focus + .slider {
  box-shadow: 0 0 1px #313163;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

@media screen and (max-width: 992px) {
  .SearchResult {
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: repeat(3, minmax(250px, 1fr));
  }
}

@media screen and (max-width: 768px) {
  .SearchResult {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: repeat(2, minmax(250px, 1fr));
  }
  .ImageInfo .content-wrapper {
    width: 100%;
  }
}

@media screen and (max-width: 576px) {
  .SearchResult {
    -ms-grid-columns: 1fr;
    grid-template-columns: repeat(1, minmax(250px, 1fr));
  }
}
